<nav class="navbar navbar-expand navbar-light mb-3 py-2 px-0">
  <a class="navbar-brand" routerLink="/">RECIPE BOOK</a>

  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active"><a routerLink="/recipes" class="nav-link">RECIPES</a></li>
    <li class="nav-item" routerLinkActive="active"><a routerLink="/shopping-list" class="nav-link">SHOPPING LIST</a>
    </li>
    <li class="nav-item dropdown" (click)="toggle=!toggle">
      <a class="nav-link dropdown-toggle" role="button">MANAGE</a>
      <div class="dropdown-menu" [ngClass]="{show:toggle}">
        <a class="dropdown-item">Save Data</a>
        <a class="dropdown-item">Fetch Data</a>
      </div>
    </li>
  </ul>
</nav>
