<nav class="navbar navbar-expand navbar-light mb-3 py-2 px-0">
  <a class="navbar-brand" routerLink="/">RECIPE BOOK</a>

  <ul class="navbar-nav w-100">
    <li *ngIf="isAuthenticated" class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/recipes">RECIPES</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/shopping-list">SHOPPING LIST</a>
    </li>

    <li *ngIf="!isAuthenticated" class="nav-item ml-auto" routerLinkActive="active">
      <a class="nav-link" routerLink="/auth">LOGIN</a>
    </li>
    <li (click)="toggle=!toggle" *ngIf="isAuthenticated" class="nav-item dropdown ml-auto">
      <a class="nav-link dropdown-toggle" role="button">MANAGE</a>
      <div [ngClass]="{show:toggle}" class="dropdown-menu">
        <a (click)="onSaveData()" class="dropdown-item">Save Data</a>
        <a (click)="onFetchData()" class="dropdown-item">Fetch Data</a>
      </div>
    </li>
    <li class="nav-item"><a *ngIf="isAuthenticated" class="nav-link" (click)="onLogout()">LOGOUT</a></li>
  </ul>
</nav>
