<div class="d-flex flex-wrap col-12 border rounded">
  <div class="flex-row pt-3">
    <img
      [src]="recipeSelected.imagePath"
      alt="{{ recipeSelected.name }}" class="img-fluid rounded">
  </div>

  <div class="flex-row clearfix col-12 pt-4">
    <h3 class="float-left text-uppercase">{{ recipeSelected.name }}</h3>
    <div (click)="toggle=!toggle" class="dropdown float-right">
      <a class="btn btn-primary text-white dropdown-toggle">Manage Recipe</a>
      <div [ngClass]="{show:toggle}" class="dropdown-menu">
        <a (click)="onAddToShoppingList()" class="dropdown-item">Add to shopping list</a>
        <a (click)="onEditRecipe()" class="dropdown-item">Edit Recipe</a>
        <a (click)="onDeleteRecipe()" class="dropdown-item">Delete Recipe</a>
      </div>
    </div>
  </div>

  <div class="flex-row col-12 py-3">
    <h5>Description:</h5>
    <p>{{ recipeSelected.description }}</p>
    <h5 class="pb-2">Ingredients:</h5>
    <ul class="list-group">
      <li *ngFor="let ingredient of recipeSelected.ingredients"
          class="list-group-item d-flex col-6 justify-content-between align-items-center">
        {{ ingredient.name }}
        <span class="badge badge-primary badge-pill">{{ ingredient.amount }}</span>
      </li>
    </ul>
  </div>
</div>
